body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open_sansregular', sans-serif;
}

header {
  position: relative;
  background: cover center no-repeat;
}

header img {
  max-width: 100%;
  display: block;
}

header h1 {
  display: block;
}

.image-container {
  position: relative;
}

.titulo {
  animation: flotar 3s linear infinite;
}

.barra {
  position: relative;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

main {
  height: relative;
  width: 100%;
  margin-top: 0;
}

nav {
  background-color: rgba(43, 49, 21, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(0.6px);
  display: block;
  z-index: 9999;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 35%;
  overflow: hidden;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

.logo {
  margin-right: auto;
  padding-left: 2%;
}

.menu ul {
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu {
  align-items: center;
  display: flex;
}

.menu img {
  width: 120px;
  height: relative;
}

.intro p {
  margin: 10px;
}

.titulo2 img {
  position: absolute;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: relative;
  margin-top: 5em;
  background-color: white;
}

h1, h2 {
  color: black;
  margin-top: 1em;
}

.section1 img,
.section img {  /* Merged styles for rounded images */
  border-radius: 20px;
  width: 3

  @media (max-width: 768px) {
  nav {
    /* Ajustes de estilo para pantallas pequeñas */
    position: static; /* Eliminar la posición fija */
    width: 100%; /* Ancho completo */
    display: flex; /* Cambiar a un diseño flexible */
    flex-direction: column; /* Ordenar elementos verticalmente */
  }

  nav ul {
    padding: 0; /* Eliminar padding lateral */
    text-align: center; /* Centrar texto */
  }

  nav ul li {
    display: block; /* Convertir elementos en bloque */
    margin: 10px 0; /* Espaciado vertical */
  }
}
