@font-face {
    font-family: 'open_sansregular';
    src: url('../fuentes/opensans-regular-webfont.woff2') format('woff2'),
         url('../fuentes/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'open_sansregular';
}